* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 20%;
  margin-top: 40px;
}
.menuAwal,
a {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.menuAwal a:hover {
  color: #9656a1;
}
.menuLatihan {
  margin-right: 0px;
}
.btnAwal {
  width: 30%;
  text-align: center;
  margin-top: 40px;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-left: 20px;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.main1 {
  width: 100%;
  height: auto;
  text-align: center;
}
.paragraf1 {
  font-size: 75px;
  font-family: "Poppins";
  font-weight: 700;
  color: black;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
span {
  color: #9656a1;
}

.main2 {
  width: 100%;
  height: auto;
  text-align: center;
}
.paragraf2 {
  font-size: 20px;
  font-family: "Sans serif";
  font-weight: 400;
  color: black;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.logoHome {
  width: 400px;
  height: 400px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.main3{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: auto;
  border: 1px solid black;
  border-radius: 6px;
}
.main3:hover{
  box-shadow: 0 0 8px 0 black;
}
.paragraf3{
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
}
.paragraf3 img{
  width: 40px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5px;
}


footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}