* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.user-list{
  width: auto;
  height: auto;
  padding: 4px 10px;
  border-radius: 10px;
  margin: auto;
  margin-left: 0;
  background-color: #9656a1;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.user-list:hover{
  background-color: transparent;
  color: #9656a1;
}

.btnAwal {
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
  margin-right: 30px;
}
.btnMasuk {
  width: auto;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.edit-profil {
  width: auto;
  height: auto;
  margin: auto;
  margin-left: 10px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #9656a1;
  padding: 5px 20px;
  border-radius: 20px;
}
.edit-profil:hover{
  background-color: transparent;
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 10px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.heading{
  width: 100%;
  height: auto;
}
.paragraf1{
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: auto;
  margin-bottom: 50px;
}
.materi {
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 2px solid #9656a1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gambarMateri {
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}
.mapel{
  margin: auto;
}
.namaMateri {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  color: black;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}